html,
body {
    height: 100%;
}

body {
    font-family: 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: normal;
}

body.login {
    background: #f8f9fa!important;
}

a {
    text-decoration: none !important;
}

b, strong {
    font-weight: 500;
}

h1,
.h1 {
    font-weight: bold;
}

h1,
.h1 {
    font-size: 24px;
}

.flat {
    border-radius: 0 !important;
}

.wrapper {
    height: 100%;
    min-width: 960px !important;
}

#login-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 100% !important;
    align-items: center !important;
    justify-content: center!important;
}

#login-wrapper .login-box-body {
    background: #ffffff;
    padding: 15px;
}

.navbar {
    background-color: #3c8dbc;
    -webkit-transition: margin-left 0.3s ease-in-out;
    -o-transition: margin-left 0.3s ease-in-out;
    transition: margin-left 0.3s ease-in-out;
    margin-bottom: 0;
    border: none;
    min-height: 50px;
    border-radius: 0;
}

.navbar-brand {
    background-color: #367fa9;
    color: #ffffff !important;
    -webkit-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
    display: block;
    float: left;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 250px;
    padding: 0 15px;
    overflow: hidden;
}

.navbar-nav a {
    color: #ffffff;
}

.navbar-nav .nav-item > a {
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    padding: 0 2rem;
    border-right: 1px solid #357ca5;
    border-left: 1px solid #3d9fd1;
}

.navbar-nav,
.navbar-nav .nav-item > a:hover,
.navbar-nav .nav-item > a.active,
.navbar-nav .nav-item > a:active,
.navbar-nav .nav-item > a:focus,
.navbar-nav .nav-item > a::selection {
    border-left: 1px solid #357ca5;
}

.navbar-nav .nav-item:last-child > a {
    border-right: none !important;
}

.navbar-nav .nav-item > a .icon {
    margin-right: 5px;
}

.navbar-brand:hover,
.navbar-nav .nav-item > a:hover,
.navbar-nav .nav-item > a:focus {
    background-color: #357ca5 !important;
}

aside {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 50px;
    min-height: 100%;
    width: 250px;
    background: #222d32;
    z-index: 810;
    -webkit-transition: -webkit-transform 0.3s ease-in-out, width 0.3s ease-in-out;
    -moz-transition: -moz-transform 0.3s ease-in-out, width 0.3s ease-in-out;
    -o-transition: -o-transform 0.3s ease-in-out, width 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
}

.content {
    min-height: 100%;
    padding-top: 50px;
    background-color: #ffffff;
    z-index: 800;
}

.content {
    -webkit-transition: -webkit-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    -moz-transition: -moz-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    -o-transition: -o-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    margin-left: 250px;
}

.content-header {
    position: relative;
    padding: 15px;
}

.content-header h1 {
    margin: 0;
}
.content-header h1 + .breadcrumb {
    margin-top: 15px;
}

.content-header .breadcrumb {
    margin-bottom: 0;
}

.tab-content {
    padding: 15px;
    border: 1px solid #ddd;
    border-top: 0;
    border-bottom: 0;
}

.login-logo {
    font-size: 2rem;
    text-align: center;
}

.login-box-body {
    box-shadow: 0 0 1px 1px rgba(153, 153, 153, 0.12);
}

.flat,
.flat .form-control,
.flat .btn,
.flat .panel {
    border-radius: 0 !important;
}

.kv-grid-table td {
    vertical-align: middle !important;
}