@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Dancing+Script:700');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500');

html *:first-child {
    margin-top: 0;
}

html, body {
    height: 100%;
}

body {
    background-color: #110a06;
}

#page {
    /* overflow: hidden; */
    display: table;
    width: 100%;
    height: 100%;
}

main {
    display: table-row;
    background: #ffffff;
    height: 100%;
}

#content {
    padding-top: 110px;
    padding-bottom: 45px;
}

.intro .cover {
    padding: 110px 0 0;
}

@media (min-width: 768px) {
    body.main .intro .cover {
        padding: 110px 0;
        min-height: 100vh;
    }
}

body.main .intro h1 {
    font-family: "Dancing Script", cursive;
    font-size: 4rem;
}

.shadow-drop-xl {
    box-shadow: 0 12px 36px 0 rgba(0, 0, 0, 0.15);
}

.rd-navbar-wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.rd-navbar.rd-navbar-fixed .rd-navbar-nav-wrap {
    transition: 0.3s all cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.rd-navbar {
    display: none;
    position: relative;
    z-index: 999;
    text-align: left;
    transition: 0.3s all cubic-bezier(0.785, 0.135, 0.15, 0.86);
    color: #ffffff;
}

.rd-navbar.rd-navbar-static.rd-navbar--is-stuck {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #110a06;
}

.rd-navbar.rd-navbar-static,
.rd-navbar.rd-navbar-fixed {
    display: block;
}

.rd-navbar--no-transition, .rd-navbar--no-transition * {
    transition: none !important;
}

.rd-navbar.rd-navbar-fixed .rd-navbar-panel {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 16;
}

.rd-navbar.rd-navbar-fixed,
.rd-navbar.rd-navbar-fixed .rd-navbar-panel {
    height: 56px;
}

.rd-navbar.rd-navbar-fixed .rd-navbar-toggle {
    z-index: 17;
    top: 4px;
    left: 4px;
    display: inline-block;
    position: relative;
    width: 48px;
    height: 48px;
    font-size: 24px;
    line-height: 48px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    background: none;
    border: none;
    outline: none;
    padding: 0;
}

.rd-navbar.rd-navbar-fixed .rd-navbar-toggle span {
    position: relative;
    display: block;
    margin: auto;
    transition: .3s all ease;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.rd-navbar.rd-navbar-fixed .rd-navbar-toggle span:before,
.rd-navbar.rd-navbar-fixed .rd-navbar-toggle span:after {
    -webkit-transform-origin: 1.71429px center;
    -moz-transform-origin: 1.71429px center;
    -ms-transform-origin: 1.71429px center;
    transform-origin: 1.71429px center;
    content: "";
    position: absolute;
    left: 0;
    top: -8px;
    transition: .3s all ease;
}

.rd-navbar.rd-navbar-fixed .rd-navbar-toggle span:after {
    top: 8px;
}

.rd-navbar.rd-navbar-fixed .rd-navbar-toggle span:after,
.rd-navbar.rd-navbar-fixed .rd-navbar-toggle span:before,
.rd-navbar.rd-navbar-fixed .rd-navbar-toggle span {
    width: 24px;
    height: 4px;
    background-color: #fff;
    backface-visibility: hidden;
    border-radius: 0;
}

.rd-navbar.rd-navbar-fixed .rd-navbar-toggle.active span {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.rd-navbar.rd-navbar-fixed .rd-navbar-toggle.active span:before,
.rd-navbar.rd-navbar-fixed .rd-navbar-toggle.active span:after {
    top: 0;
    width: 15px;
}

.rd-navbar.rd-navbar-fixed .rd-navbar-toggle.active span:before {
    -webkit-transform: rotate3d(0, 0, 1, -40deg);
    transform: rotate3d(0, 0, 1, -40deg);
}

.rd-navbar.rd-navbar-fixed .rd-navbar-toggle.active span:after {
    -webkit-transform: rotate3d(0, 0, 1, 40deg);
    transform: rotate3d(0, 0, 1, 40deg);
}

.rd-navbar.rd-navbar-fixed .rd-navbar-brand {
    display: none !important;
}

@media (min-width: 480px) {
    .rd-navbar.rd-navbar-fixed .rd-navbar-brand {
        display: block !important;
        position: fixed;
        top: 10px;
        left: 50%;
        width: auto;
        margin-left: -97px;
    }
}

.rd-navbar.rd-navbar-fixed .rd-navbar-panel {
    background: #110a06;
    box-shadow: 0 3px 11px 0 #000;
}

.rd-navbar.rd-navbar-static .rd-navbar-panel .rd-navbar-toggle {
    display: none;
}

.rd-navbar.rd-navbar-static .rd-navbar-inner {
    transition: .3s all ease;
    padding: 40px 85px 20px 85px;
    position: relative;
    text-align: left;
}

.rd-navbar.rd-navbar-static .rd-navbar-nav-wrap,
.rd-navbar.rd-navbar-static .rd-navbar-panel {
    transition: .3s all ease;
}

.rd-navbar.rd-navbar-static .rd-navbar-brand {
    position: relative;
    float: left;
}

.rd-navbar.rd-navbar-static .rd-navbar-brand > a {
    display: block;
    float: left;
}

.rd-navbar.rd-navbar-static .rd-navbar-brand img {

}

.rd-navbar.rd-navbar-static .rd-navbar-brand-slogan {
    font-family: "Dancing Script", cursive;
    font-size: 1.2rem;
    line-height: 1;
    margin-left: .7rem;
}

.rd-navbar.rd-navbar-static.rd-navbar--is-stuck .rd-navbar-inner {
    padding-top: 20px;
    padding-bottom: 20px;
}

.rd-navbar.rd-navbar-static .rd-navbar-menu-wrap {
    float: right;
}

.rd-navbar.rd-navbar-static .rd-navbar-nav-wrap {
    margin-top: 6px;
    display: inline-block;
}

.rd-navbar ul {
    list-style-type: none;
    margin-bottom: 0;
}

.rd-navbar.rd-navbar-static .rd-navbar-inner:before,
.rd-navbar.rd-navbar-static .rd-navbar-inner:after,
.rd-navbar.rd-navbar-static .rd-navbar-nav:before,
.rd-navbar.rd-navbar-floated.rd-navbar-static .rd-navbar-nav:before,
.rd-navbar.rd-navbar-static .rd-navbar-nav:after,
.rd-navbar.rd-navbar-floated.rd-navbar-static .rd-navbar-nav:after {
    content: " ";
    display: table;
}

.rd-navbar.rd-navbar-static .rd-navbar-inner:after,
.rd-navbar.rd-navbar-static .rd-navbar-nav:after {
    clear: both;
}

.rd-navbar.rd-navbar-static .rd-navbar-nav > li,
.rd-navbar.rd-navbar-floated.rd-navbar-static .rd-navbar-nav > li {
    float: left;
    position: relative;
}

.rd-navbar.rd-navbar-static .rd-navbar-nav > li + li,
.rd-navbar.rd-navbar-floated.rd-navbar-static .rd-navbar-nav > li + li {
    margin-left: 2.5rem;
}

.rd-navbar.rd-navbar-static .rd-navbar-nav li.focus > .rd-navbar-dropdown {
    opacity: 1;
    visibility: visible;
}

.rd-navbar a {
    transition: .3s all ease;
}

.rd-navbar.rd-navbar-static .rd-navbar-nav > li a,
.rd-navbar.rd-navbar-dark.rd-navbar-static .rd-navbar-nav > li a,
.rd-navbar-floated.rd-navbar-dark.rd-navbar-static .rd-navbar-nav > li a {
    color: #fff;
}

.rd-navbar.rd-navbar-static .rd-navbar-nav > li > a,
.rd-navbar.rd-navbar-floated.rd-navbar-static .rd-navbar-nav > li > a {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    letter-spacing: 0.06em;
}

.rd-navbar.rd-navbar-fixed .rd-navbar-nav li a,
.rd-navbar-sidebar-toggle.rd-navbar-fixed .rd-navbar-nav li a,
.rd-navbar-floated.rd-navbar-fixed .rd-navbar-nav li a,
.rd-navbar.rd-navbar-fixed .responsive-tabs .resp-accordion,
.rd-navbar-sidebar-toggle.rd-navbar-fixed .responsive-tabs .resp-accordion,
.rd-navbar-floated.rd-navbar-fixed .responsive-tabs .resp-accordion,
.rd-navbar.rd-navbar-static .rd-navbar-nav > li > a,
.rd-navbar-floated.rd-navbar-static .rd-navbar-nav > li > a,
.rd-navbar.rd-navbar-static .rd-navbar-dropdown li > a,
.rd-navbar-floated.rd-navbar-static .rd-navbar-dropdown li > a,
.rd-navbar.rd-navbar-static .rd-navbar-megamenu li > a,
.rd-navbar-floated.rd-navbar-static .rd-navbar-megamenu li > a {
    font-size: .85rem;
    font-weight: 500;
    text-transform: uppercase;
}

.rd-navbar.rd-navbar-static
.rd-navbar-nav > li > a:after,
.rd-navbar-floated.rd-navbar-static .rd-navbar-nav > li > a:after {
    background: -moz-linear-gradient(90deg, #f14814 0%, #ffad1e 100%);
    background: -webkit-linear-gradient(90deg, #f14814 0%, #ffad1e 100%);
    background: -o-linear-gradient(90deg, #f14814 0%, #ffad1e 100%);
    background: -ms-linear-gradient(90deg, #f14814 0%, #ffad1e 100%);
    background: linear-gradient(90deg, #f14814 0%, #ffad1e 100%);
}

.rd-navbar.rd-navbar-static .rd-navbar-nav > li > a:after,
.rd-navbar-floated.rd-navbar-static .rd-navbar-nav > li > a:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 2px;
    margin-top: 4px;
    transition: .3s all ease;
}

.rd-navbar.rd-navbar-static .rd-navbar-nav > li.active > a:after,
.rd-navbar-floated.rd-navbar-static .rd-navbar-nav > li.active > a:after,
.rd-navbar.rd-navbar-static .rd-navbar-nav > li.focus > a:after,
.rd-navbar-floated.rd-navbar-static .rd-navbar-nav > li.focus > a:after,
.rd-navbar.rd-navbar-static .rd-navbar-nav > li > a:hover:after,
.rd-navbar-floated.rd-navbar-static .rd-navbar-nav > li > a:hover:after {
    left: 0;
    width: 100%;
}

.rd-navbar.rd-navbar-static.rd-navbar--is-stuck .rd-navbar-nav > li > .rd-navbar-dropdown {
    margin-top: 26px;
}

.rd-navbar.rd-navbar-static .rd-navbar-dropdown {
    background: #0b0704;
}

.rd-navbar.rd-navbar-static .rd-navbar-dropdown {
    border-top: 1px solid #f14814;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    transition: .3s all ease;
    padding: 0;
    text-align: left;
    width: 240px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
    z-index: 1;
}

.rd-navbar.rd-navbar-static .rd-navbar-dropdown .rd-navbar-dropdown {
    left: 100%;
    top: -1px;
    margin: 0;
    z-index: 2;
}

.rd-navbar.rd-navbar-static .rd-navbar-dropdown .rd-navbar-dropdown .rd-navbar-dropdown {
    z-index: 3;
}

.rd-navbar.rd-navbar-static .rd-navbar-dropdown.rd-navbar-open-left,
.rd-navbar.rd-navbar-static .rd-navbar-dropdown.rd-navbar-open-left .rd-navbar-dropdown {
    right: 100%;
    left: auto;
}

.rd-navbar.rd-navbar-static .rd-navbar-nav > .rd-navbar-submenu > .rd-navbar-dropdown.rd-navbar-open-left {
    right: 0;
}

.rd-navbar.rd-navbar-static .rd-navbar-dropdown {
    margin-top: 49px;
}

.rd-navbar.rd-navbar-static .rd-navbar-dropdown li {
    position: relative;
}

.rd-navbar.rd-navbar-static .rd-navbar-dropdown li > a {
    display: block;
    padding: 8px 30px 8px 20px;
    color: #fff;
}

.rd-navbar.rd-navbar-static .rd-navbar-dropdown li > a:hover {
    color: #f14814 !important;
}

.rd-navbar.rd-navbar-static .rd-navbar-dropdown li > a > span {
    vertical-align: middle;
}

.rd-navbar.rd-navbar-static .rd-navbar-dropdown li .rd-navbar-label {
    margin-left: 5px;
}

.rd-navbar.rd-navbar-static .rd-navbar-dropdown li .rd-navbar-icon {
    margin-right: 10px;
    font-size: 18px;
    line-height: 24px;
    vertical-align: middle;
}

.rd-navbar.rd-navbar-static .rd-navbar-dropdown li.rd-navbar--has-dropdown:after {
    content: '\f238';
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 13px;
    font-size: 22px;
    line-height: 34px;
    font-family: 'Material Design Icons';
    transition: .3s all ease;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.rd-navbar.rd-navbar-static .rd-navbar-dropdown {
    background: #0b0704;
}

.rd-navbar.rd-navbar-static .rd-navbar-dropdown li.rd-navbar--has-dropdown:after {
    color: #333333;
}

.rd-navbar.rd-navbar-static .rd-navbar-dropdown li .rd-navbar-icon {
    color: #858585;
}

.rd-navbar.rd-navbar-static .rd-navbar-dropdown li:hover > a {
    background: #110a06;
    color: #fff;
}

.rd-navbar.rd-navbar-static .rd-navbar-dropdown li:hover:after {
    color: #fff;
}

.rd-navbar.rd-navbar-fixed .rd-navbar-nav-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    bottom: 0;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
    z-index: 15;
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);
    padding: 56px 10px 0;
}

.rd-navbar.rd-navbar-fixed .rd-navbar-nav-wrap.active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.rd-navbar.rd-navbar-fixed .rd-navbar-nav-wrap {
    background: #110a06;
    color: #fff;
}

.rd-navbar.rd-navbar-fixed .rd-navbar-nav {
    padding: 0;
    margin-top: 15px;
}

.rd-navbar.rd-navbar-fixed .rd-navbar-nav li {
    float: none;
}

.rd-navbar.rd-navbar-fixed .rd-navbar-nav li + li {
    margin-top: 5px;
}

.rd-navbar.rd-navbar-fixed .rd-navbar-submenu {
    position: relative;
}

.rd-navbar.rd-navbar-fixed .rd-navbar-submenu-toggle {
    color: #333333;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    font-size: 24px;
    line-height: 40px;
    font-family: 'Material Design Icons';
    transition: .3s all ease;
}

.rd-navbar.rd-navbar-fixed .rd-navbar-submenu-toggle:before {
    content: '\F140';
    display: block;
    vertical-align: middle;
}

.rd-navbar.rd-navbar-fixed .rd-navbar-nav li.opened > .rd-navbar-submenu-toggle:before {
    content: '\F143';
}

.rd-navbar.rd-navbar-fixed .rd-navbar-nav li a {
    cursor: pointer;
    display: block;
    padding: 8px 30px 8px 15px;
    color: #fff;
}

.rd-navbar.rd-navbar-fixed .rd-navbar-dropdown > li > a {
    padding-left: 25px;
}

.rd-navbar.rd-navbar-fixed .rd-navbar-nav li.opened > a,
.rd-navbar .rd-navbar-nav li.active > a,
.rd-navbar .rd-navbar-nav li > a:hover {
    background: #140f0c;
}

.rd-navbar.rd-navbar-fixed .rd-navbar-nav li.opened > .rd-navbar-submenu-toggle,
.rd-navbar.rd-navbar-fixed .rd-navbar-nav li.active > .rd-navbar-submenu-toggle,
.rd-navbar.rd-navbar-fixed .rd-navbar-nav li:hover > .rd-navbar-submenu-toggle {
    color: #fff;
}

.rd-navbar.rd-navbar-fixed .rd-navbar-dropdown {
    display: none;
    padding: 5px 0;
}

.rd-navbar.rd-navbar-fixed .rd-navbar-submenu.opened > .rd-navbar-dropdown {
    display: block;
}

.rd-navbar.rd-navbar-static .rd-navbar-mobile-brand {
    display: none;
}

.rd-navbar.rd-navbar-fixed .rd-navbar-mobile-brand {
    display: block;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

@media (min-width: 480px) {
    .rd-navbar.rd-navbar-fixed .rd-navbar-mobile-brand {
        display: none;
    }
}

.rd-navbar.rd-navbar-fixed .rd-navbar-mobile-scroll {
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.rd-parallax-inner {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    z-index: 1;
    clip: rect(0, auto, auto, 0);
}

.rd-parallax-layer[data-type="media"] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    pointer-events: none;
}

.rd-parallax-layer[data-url] {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}

.rd-parallax .rd-parallax-layer[data-type="media"] + * {
    position: relative;
}

.intro .intro-phone {
    font-weight: 300;
    line-height: 1;
    font-size: 2rem;
}

.intro .intro-phone-icon {
    font-size: 2rem;
    line-height: 1;
    margin-right: .9rem;
}

.intro-about {
    padding-bottom: 110px;
}

.embed-responsive {
    height: 0;
}

.embed-responsive-16by9 {
    padding-bottom: 56.25%;
}

.section-110 {
    padding-top: 110px;
    padding-bottom: 110px;
}

.section-98 {
    padding-top: 98px;
    padding-bottom: 98px;
}

.section-66 {
    padding-top: 66px;
    padding-bottom: 66px;
}

.divider {
    width: 40px;
    height: 2px;
    margin: 2rem auto;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    padding: 0px;
    background: rgb(236, 236, 236);
}

.bg-mantis, .scrollToNext {
    background: linear-gradient(90deg, rgb(241, 72, 20) 0%, rgb(255, 173, 30) 100%);
}

@media (min-width: 768px) {
    .section-sm-110 {
        padding-top: 110px;
        padding-bottom: 110px;
    }
}

@media (min-width: 1200px) {
    .hr-lg-left-0 {
        margin-left: 0px;
    }
}

/**  ISOTOPE */
[data-isotope-layout] {
    display: block;
    transition: .4s all ease;
    min-height: 160px;
}

[data-isotope-layout] > .row {
    margin-bottom: -2rem;
}

[data-isotope-layout] > .row > [class*="col-"] {
    margin-top: 2rem;
}

[data-isotope-layout] [class*="col-"] {
    opacity: 0;
    will-change: transform;
    backface-visibility: hidden;
    transition: .4s opacity ease;
}

@media (max-width: 479px) {
    [data-isotope-layout] [class*="col-"] {
        max-width: 100%;
    }
}

[data-isotope-layout].isotope--loaded [class*="col-"] {
    opacity: 1;
}

[data-isotope-layout].isotope--loaded:after {
    opacity: 0;
    visibility: hidden;
}

.isotope-filters {
    position: relative;
    display: inline-block;
}

.isotope-filters-list {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    padding: 5px 0;
    margin: 5px 0;
    z-index: 10;
    float: left;
    min-width: 130px;
    font-size: 16px;
    text-align: left;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.isotope-filters-list > li {
    display: block;
}

.isotope-filters-list > li > a {
    display: block;
    position: relative;
    clear: both;
    color: #333333;
    white-space: nowrap;
    line-height: 1.5;
    padding: 5px 20px;
}

.isotope-filters-list > li > a.active, .isotope-filters-list > li > a:hover {
    background-color: #f5f5f5;
}

.isotope-filters-list.active {
    display: block;
}

.isotope-filters-toggle.active:focus {
    outline: none;
}

.isotope-filters-title {
    display: none;
}

@media (min-width: 480px) {
    .isotope-filters-list {
        right: auto;
        left: 0;
    }
}

@media (min-width: 992px) {
    .isotope-filters-horizontal .isotope-filters-list,
    .isotope-filters-vertical .isotope-filters-list {
        position: static;
        display: inline-block;
        float: none;
        padding: 0;
        background-color: transparent;
        border-radius: 0;
        box-shadow: none;
        margin-bottom: 0;
        border-bottom: 1px solid #ececec;
    }

    .isotope-filters-horizontal .isotope-filters-list > li,
    .isotope-filters-vertical .isotope-filters-list > li {
        display: inline-block;
    }

    .isotope-filters-horizontal .isotope-filters-list > li > a,
    .isotope-filters-vertical .isotope-filters-list > li > a {
        display: inline-block;
        text-transform: uppercase;
        padding: 5px 5px 13px;
        color: #858585;
        -webkit-transition: 0.3s all ease-in;
        -o-transition: 0.3s all ease-in;
        transition: 0.3s all ease-in;
    }

    .isotope-filters-horizontal .isotope-filters-list > li > a:after,
    .isotope-filters-vertical .isotope-filters-list > li > a:after {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 50%;
        width: 0;
        height: 1px;
        transition: .4s;
    }

    .isotope-filters-horizontal .isotope-filters-list > li > a:after,
    .isotope-filters-vertical .isotope-filters-list > li > a:after {
        background: -moz-linear-gradient(90deg, #f14814 0%, #ffad1e 100%);
        background: -webkit-linear-gradient(90deg, #f14814 0%, #ffad1e 100%);
        background: -o-linear-gradient(90deg, #f14814 0%, #ffad1e 100%);
        background: -ms-linear-gradient(90deg, #f14814 0%, #ffad1e 100%);
        background: linear-gradient(90deg, #f14814 0%, #ffad1e 100%);
    }

    .isotope-filters-horizontal .isotope-filters-list > li > a.active, .isotope-filters-horizontal .isotope-filters-list > li > a:hover,
    .isotope-filters-vertical .isotope-filters-list > li > a.active,
    .isotope-filters-vertical .isotope-filters-list > li > a:hover {
        color: #333333;
        background-color: transparent;
    }

    .isotope-filters-horizontal .isotope-filters-list > li > a.active:after,
    .isotope-filters-vertical .isotope-filters-list > li > a.active:after {
        left: 0;
        width: 100%;
    }

    .isotope-filters-horizontal .isotope-filters-list > li + li,
    .isotope-filters-vertical .isotope-filters-list > li + li {
        margin-left: 23px;
    }

    .isotope-filters-horizontal .isotope-filters-toggle,
    .isotope-filters-vertical .isotope-filters-toggle {
        display: none;
    }
}

@media (min-width: 1200px) {
    .isotope-filters-vertical .isotope-filters-list {
        margin-bottom: 0;
        padding: 0;
        border-bottom: none;
        border-left: 1px solid #D9D9D9;
    }

    .isotope-filters-vertical .isotope-filters-list > li {
        display: block;
        margin-top: 0;
        text-align: left;
    }

    .isotope-filters-vertical .isotope-filters-list > li > a {
        padding: 0 25px;
    }

    .isotope-filters-vertical .isotope-filters-list > li > a:after {
        bottom: 50%;
        left: -1px;
        width: 1px;
        height: 0;
    }

    .isotope-filters-vertical .isotope-filters-list > li > a:after {
        background: -moz-linear-gradient(90deg, #f14814 0%, #ffad1e 100%);
        background: -webkit-linear-gradient(90deg, #f14814 0%, #ffad1e 100%);
        background: -o-linear-gradient(90deg, #f14814 0%, #ffad1e 100%);
        background: -ms-linear-gradient(90deg, #f14814 0%, #ffad1e 100%);
        background: linear-gradient(90deg, #f14814 0%, #ffad1e 100%);
    }

    .isotope-filters-vertical .isotope-filters-list > li > a.active:after {
        bottom: 0;
        width: 1px;
        height: 100%;
        left: -1px;
    }

    .isotope-filters-vertical .isotope-filters-list > li + li {
        margin-left: 0;
        margin-top: 24px;
    }

    .isotope-filters-vertical .isotope-filters-title {
        display: block;
    }
}

.isotope-item.col-lg-4 .text {
    display: none;
}

.isotope-item .image a {
    display: inline-block;
    position: relative;
}

.isotope-item .image a:before {
    display: none;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 10, 10, 0.31);
}

.isotope-item .image a:hover:before {
    display: block;
}

footer .top .group.has-error .help-block {
    position: absolute;
    left: 5px;
    right: 5px;
    color: #dc3545;
    font-size: .85rem;
}

footer {
    background-color: #110a06;
}

footer .top {
    padding: 66px 0;
    background: #140f0c;
    fill: #140f0c;
    color: #ffffff;
}

footer .bottom {
    padding: 40px 0 20px;
}

footer .top .group {
    position: relative;
    padding-bottom: 1.5rem;
}

footer .top .form-control {
    border-color: #ffffff;
}

footer .form-control {
    color: #ffffff !important;
}

footer .bottom .form-control {
    border-color: transparent;
    background: #000000 !important;
    font-size: .9rem;
}

footer .has-error .form-control {
    border-color: #dc3545;
}

footer .has-error .help-block {
    color: #dc3545;
}

/*! PhotoSwipe main CSS by Dmitry Semenov | photoswipe.com | MIT license */
/*
	Styles for basic PhotoSwipe functionality (sliding area, open/close transitions)
*/
/* pswp = photoswipe */
.pswp {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    -ms-touch-action: none;
    touch-action: none;
    z-index: 1500;
    -webkit-text-size-adjust: 100%;
    /* create separate layer, to avoid paint on window.onscroll in webkit/blink */
    -webkit-backface-visibility: hidden;
    outline: none;
}

.pswp * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.pswp img {
    max-width: none;
}

/* style is added when JS option showHideOpacity is set to true */
.pswp--animate_opacity {
    /* 0.001, because opacity:0 doesn't trigger Paint action, which causes lag at start of transition */
    opacity: 0.001;
    will-change: opacity;
    /* for open/close transition */
    -webkit-transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
    transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
}

.pswp--open {
    display: block;
}

.pswp--zoom-allowed .pswp__img {
    /* autoprefixer: off */
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}

.pswp--zoomed-in .pswp__img {
    /* autoprefixer: off */
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
}

.pswp--dragging .pswp__img {
    /* autoprefixer: off */
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
}

/*
	Background is added as a separate element.
	As animating opacity is much faster than animating rgba() background-color.
*/
.pswp__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    will-change: opacity;
}

.pswp__scroll-wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.pswp__container,
.pswp__zoom-wrap {
    -ms-touch-action: none;
    touch-action: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

/* Prevent selection and tap highlights */
.pswp__container,
.pswp__img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

.pswp__zoom-wrap {
    position: absolute;
    width: 100%;
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    /* for open/close transition */
    -webkit-transition: -webkit-transform 333ms cubic-bezier(0.4, 0, 0.22, 1);
    transition: transform 333ms cubic-bezier(0.4, 0, 0.22, 1);
}

.pswp__bg {
    will-change: opacity;
    /* for open/close transition */
    -webkit-transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
    transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
}

.pswp--animated-in .pswp__bg,
.pswp--animated-in .pswp__zoom-wrap {
    -webkit-transition: none;
    transition: none;
}

.pswp__container,
.pswp__zoom-wrap {
    -webkit-backface-visibility: hidden;
}

.pswp__item {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

.pswp__img {
    position: absolute;
    width: auto;
    height: auto;
    top: 0;
    left: 0;
}

/*
	stretched thumbnail or div placeholder element (see below)
	style is added to avoid flickering in webkit/blink when layers overlap
*/
.pswp__img--placeholder {
    -webkit-backface-visibility: hidden;
}

/*
	div element that matches size of large image
	large image loads on top of it
*/
.pswp__img--placeholder--blank {
    background: #222;
}

.pswp--ie .pswp__img {
    width: 100% !important;
    height: auto !important;
    left: 0;
    top: 0;
}

/*
	Error message appears when image is not loaded
	(JS option errorMsg controls markup)
*/
.pswp__error-msg {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    margin-top: -8px;
    color: #CCC;
}

.pswp__error-msg a {
    color: #CCC;
    text-decoration: underline;
}

/*! PhotoSwipe Default UI CSS by Dmitry Semenov | photoswipe.com | MIT license */
/*
	Contents:
	1. Buttons
	2. Share modal and links
	3. Index indicator ("1 of X" counter)
	4. Caption
	5. Loading indicator
	6. Additional styles (root element, top bar, idle state, hidden state, etc.)
*/
/*

	1. Buttons
 */
/* <button> css reset */
.pswp__button {
    width: 44px;
    height: 44px;
    position: relative;
    background: none;
    cursor: pointer;
    overflow: visible;
    -webkit-appearance: none;
    display: block;
    border: 0;
    padding: 0;
    margin: 0;
    float: right;
    opacity: 0.75;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.pswp__button:focus, .pswp__button:hover {
    opacity: 1;
}

.pswp__button:active {
    outline: none;
    opacity: 0.9;
}

.pswp__button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

/* pswp__ui--over-close class it added when mouse is over element that should close gallery */
.pswp__ui--over-close .pswp__button--close {
    opacity: 1;
}

.pswp__button,
.pswp__button--arrow--left:before,
.pswp__button--arrow--right:before {
    background: url(default-skin.png) 0 0 no-repeat;
    background-size: 264px 88px;
    width: 44px;
    height: 44px;
}

@media (-webkit-min-device-pixel-ratio: 1.1), (-webkit-min-device-pixel-ratio: 1.09375), (min-resolution: 105dpi), (min-resolution: 1.1dppx) {
    /* Serve SVG sprite if browser supports SVG and resolution is more than 105dpi */
    .pswp--svg .pswp__button,
    .pswp--svg .pswp__button--arrow--left:before,
    .pswp--svg .pswp__button--arrow--right:before {
        background-image: url(default-skin.svg);
    }

    .pswp--svg .pswp__button--arrow--left,
    .pswp--svg .pswp__button--arrow--right {
        background: none;
    }
}

.pswp__button--close {
    background-position: 0 -44px;
}

.pswp__button--share {
    background-position: -44px -44px;
}

.pswp__button--fs {
    display: none;
}

.pswp--supports-fs .pswp__button--fs {
    display: block;
}

.pswp--fs .pswp__button--fs {
    background-position: -44px 0;
}

.pswp__button--zoom {
    display: none;
    background-position: -88px 0;
}

.pswp--zoom-allowed .pswp__button--zoom {
    display: block;
}

.pswp--zoomed-in .pswp__button--zoom {
    background-position: -132px 0;
}

/* no arrows on touch screens */
.pswp--touch .pswp__button--arrow--left,
.pswp--touch .pswp__button--arrow--right {
    visibility: hidden;
}

/*
	Arrow buttons hit area
	(icon is added to :before pseudo-element)
*/
.pswp__button--arrow--left,
.pswp__button--arrow--right {
    background: none;
    top: 50%;
    margin-top: -50px;
    width: 70px;
    height: 100px;
    position: absolute;
}

.pswp__button--arrow--left {
    left: 0;
}

.pswp__button--arrow--right {
    right: 0;
}

.pswp__button--arrow--left:before,
.pswp__button--arrow--right:before {
    content: '';
    top: 35px;
    background-color: rgba(0, 0, 0, 0.3);
    height: 30px;
    width: 32px;
    position: absolute;
}

.pswp__button--arrow--left:before {
    left: 6px;
    background-position: -138px -44px;
}

.pswp__button--arrow--right:before {
    right: 6px;
    background-position: -94px -44px;
}

/*
	2. Share modal/popup and links
 */
.pswp__counter,
.pswp__share-modal {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pswp__share-modal {
    display: block;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 10px;
    position: absolute;
    z-index: 1600;
    opacity: 0;
    -webkit-transition: opacity 0.25s ease-out;
    transition: opacity 0.25s ease-out;
    -webkit-backface-visibility: hidden;
    will-change: opacity;
}

.pswp__share-modal--hidden {
    display: none;
}

.pswp__share-tooltip {
    z-index: 1620;
    position: absolute;
    background: #FFF;
    top: 56px;
    border-radius: 2px;
    display: block;
    width: auto;
    right: 44px;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
    -webkit-transition: -webkit-transform 0.25s;
    transition: transform 0.25s;
    -webkit-backface-visibility: hidden;
    will-change: transform;
}

.pswp__share-tooltip a {
    display: block;
    padding: 8px 12px;
    color: #000;
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
}

.pswp__share-tooltip a:hover {
    text-decoration: none;
    color: #000;
}

.pswp__share-tooltip a:first-child {
    /* round corners on the first/last list item */
    border-radius: 2px 2px 0 0;
}

.pswp__share-tooltip a:last-child {
    border-radius: 0 0 2px 2px;
}

.pswp__share-modal--fade-in {
    opacity: 1;
}

.pswp__share-modal--fade-in .pswp__share-tooltip {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

/* increase size of share links on touch devices */
.pswp--touch .pswp__share-tooltip a {
    padding: 16px 12px;
}

a.pswp__share--facebook:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: -12px;
    right: 15px;
    border: 6px solid transparent;
    border-bottom-color: #FFF;
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    pointer-events: none;
}

a.pswp__share--facebook:hover {
    background: #3E5C9A;
    color: #FFF;
}

a.pswp__share--facebook:hover:before {
    border-bottom-color: #3E5C9A;
}

a.pswp__share--twitter:hover {
    background: #55ACEE;
    color: #FFF;
}

a.pswp__share--pinterest:hover {
    background: #CCC;
    color: #CE272D;
}

a.pswp__share--download:hover {
    background: #DDD;
}

/*
	3. Index indicator ("1 of X" counter)
 */
.pswp__counter {
    position: absolute;
    left: 0;
    top: 0;
    height: 44px;
    font-size: 13px;
    line-height: 44px;
    color: #FFF;
    opacity: 0.75;
    padding: 0 10px;
}

/*

	4. Caption
 */
.pswp__caption {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 44px;
}

.pswp__caption small {
    font-size: 11px;
    color: #BBB;
}

.pswp__caption__center {
    text-align: left;
    max-width: 420px;
    margin: 0 auto;
    font-size: 13px;
    padding: 10px;
    line-height: 20px;
    color: #CCC;
}

.pswp__caption--empty {
    display: none;
}

/* Fake caption element, used to calculate height of next/prev image */
.pswp__caption--fake {
    visibility: hidden;
}

/*
	5. Loading indicator (preloader)
	You can play with it here - http://codepen.io/dimsemenov/pen/yyBWoR
 */
.pswp__preloader {
    width: 44px;
    height: 44px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -22px;
    opacity: 0;
    -webkit-transition: opacity 0.25s ease-out;
    transition: opacity 0.25s ease-out;
    will-change: opacity;
    direction: ltr;
}

.pswp__preloader__icn {
    width: 20px;
    height: 20px;
    margin: 12px;
}

.pswp__preloader--active {
    opacity: 1;
}

.pswp__preloader--active .pswp__preloader__icn {
    /* We use .gif in browsers that don't support CSS animation */
    background: url(preloader.gif) 0 0 no-repeat;
}

.pswp--css_animation .pswp__preloader--active {
    opacity: 1;
}

.pswp--css_animation .pswp__preloader--active .pswp__preloader__icn {
    -webkit-animation: clockwise 500ms linear infinite;
    animation: clockwise 500ms linear infinite;
}

.pswp--css_animation .pswp__preloader--active .pswp__preloader__donut {
    -webkit-animation: donut-rotate 1000ms cubic-bezier(0.4, 0, 0.22, 1) infinite;
    animation: donut-rotate 1000ms cubic-bezier(0.4, 0, 0.22, 1) infinite;
}

.pswp--css_animation .pswp__preloader__icn {
    background: none;
    opacity: 0.75;
    width: 14px;
    height: 14px;
    position: absolute;
    left: 15px;
    top: 15px;
    margin: 0;
}

.pswp--css_animation .pswp__preloader__cut {
    /*
              The idea of animating inner circle is based on Polymer ("material") loading indicator
               by Keanu Lee https://blog.keanulee.com/2014/10/20/the-tale-of-three-spinners.html
          */
    position: relative;
    width: 7px;
    height: 14px;
    overflow: hidden;
}

.pswp--css_animation .pswp__preloader__donut {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 14px;
    height: 14px;
    border: 2px solid #FFF;
    border-radius: 50%;
    border-left-color: transparent;
    border-bottom-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    background: none;
    margin: 0;
}

@media screen and (max-width: 1024px) {
    .pswp__preloader {
        position: relative;
        left: auto;
        top: auto;
        margin: 0;
        float: right;
    }
}

@-webkit-keyframes clockwise {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes clockwise {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes donut-rotate {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    50% {
        -webkit-transform: rotate(-140deg);
        transform: rotate(-140deg);
    }
    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
}

@keyframes donut-rotate {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    50% {
        -webkit-transform: rotate(-140deg);
        transform: rotate(-140deg);
    }
    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
}

/*

	6. Additional styles
 */
/* root element of UI */
.pswp__ui {
    -webkit-font-smoothing: auto;
    visibility: visible;
    opacity: 1;
    z-index: 1550;
}

/* top black bar with buttons and "1 of X" indicator */
.pswp__top-bar {
    position: absolute;
    left: 0;
    top: 0;
    height: 44px;
    width: 100%;
}

.pswp__caption,
.pswp__top-bar,
.pswp--has_mouse .pswp__button--arrow--left,
.pswp--has_mouse .pswp__button--arrow--right {
    -webkit-backface-visibility: hidden;
    will-change: opacity;
    -webkit-transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
    transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
}

/* pswp--has_mouse class is added only when two subsequent mousemove events occur */
.pswp--has_mouse .pswp__button--arrow--left,
.pswp--has_mouse .pswp__button--arrow--right {
    visibility: visible;
}

.pswp__top-bar,
.pswp__caption {
    background-color: rgba(0, 0, 0, 0.5);
}

/* pswp__ui--fit class is added when main image "fits" between top bar and bottom bar (caption) */
.pswp__ui--fit .pswp__top-bar,
.pswp__ui--fit .pswp__caption {
    background-color: rgba(0, 0, 0, 0.3);
}

/* pswp__ui--idle class is added when mouse isn't moving for several seconds (JS option timeToIdle) */
.pswp__ui--idle .pswp__top-bar {
    opacity: 0;
}

.pswp__ui--idle .pswp__button--arrow--left,
.pswp__ui--idle .pswp__button--arrow--right {
    opacity: 0;
}

/*
	pswp__ui--hidden class is added when controls are hidden
	e.g. when user taps to toggle visibility of controls
*/
.pswp__ui--hidden .pswp__top-bar,
.pswp__ui--hidden .pswp__caption,
.pswp__ui--hidden .pswp__button--arrow--left,
.pswp__ui--hidden .pswp__button--arrow--right {
    /* Force paint & create composition layer for controls. */
    opacity: 0.001;
}

/* pswp__ui--one-slide class is added when there is just one item in gallery */
.pswp__ui--one-slide .pswp__button--arrow--left,
.pswp__ui--one-slide .pswp__button--arrow--right,
.pswp__ui--one-slide .pswp__counter {
    display: none;
}

.pswp__element--disabled {
    display: none !important;
}

.pswp--minimal--dark .pswp__top-bar {
    background: none;
}

.left-menu,
.bottom-menu {
    margin: 0;
}

.left-menu > li,
.bottom-menu > li {
    margin-bottom: .5rem;
}
.left-menu > li > a {
    cursor: pointer;
    display: block;
    padding: 8px 30px 8px 15px;
    line-height: 24px;
    font-weight: 500;
    text-transform: uppercase;
    transition: .3s all ease;
}

.bottom-menu > li > a{
    cursor: pointer;
    display: block;
    padding: 5px 0;
    line-height: 24px;
    transition: .3s all ease;
    color: #495057;
}

.left-menu > li > a:hover,
.left-menu > li.active > a {
    background: #f14814;
    color: #ffffff;
}

.bottom-menu > li > a:hover,
.bottom-menu > li.active > a {
    color: #ffffff;
}